/*WebsiteHeader*/
@font-face{
  font-family: "Cyborg";
  src: url("CYBORG.ttf")
}
@font-face{
  font-family: "Code Light";
  src: url("CODE Light.otf")
}
@font-face{
  font-family: "Code Bold";
  src: url("CODE Bold.otf")
}
#topHeader{
  background-image: url("TigerEye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffe177;
  padding-top: 30px;
  padding-bottom: 10px;
}
#websiteName{
  font-family: "Cyborg", serif;
  text-align: center;
  color: #131313;
}
#subtitle{
  font-family: "Code Light", sans-serif;
  text-align: center;
  letter-spacing: 8px;
  color: #ffeeac;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #c7b05d;
}
/*WebsiteInnerBody*/
#innerBody{
  height: 1540px;
}

/*WebsiteFooter*/
#footer{
  background-color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/*Home Page: main style*/
.centerHomeImage{
  padding-top: 170px;
  display: block;
  margin-left: auto;
  width: 950px;
  opacity: 0.3;
}
#Motto{
  z-index: 4;
  position: absolute;
  padding-top: 500px;
  margin-left: 100px;
  margin-right: auto;
  font-family: "Code Bold", sans-serif;
  font-size: 40px;
}
/*Home Page: NavBar style*/
#navigation{
  font-family: fantasy;
  letter-spacing: 2px;
  text-align: center;
  position: sticky;
  z-index: 100;
  top: 0px;
}
.active{
  background-color: #8184dc;
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494799;
    position: sticky;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 85px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #312f67;
}

/*Contact page: form style*/
.reveal-if-active{
  display: none;
}
#HelpUs{
  padding-top: 40px;
  text-align: center;
  font-family: "Code Bold", sans-serif;
  color: #666;
}
#categoryChoice{
  font-family: sans-serif;
}
#productFORM{
  font-family: sans-serif;
}
#locationFORM{
  font-family: sans-serif;
}
#contactInfo{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#smallTxtBox{
  width: 250px;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
#commentSection{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#largeTxtBox{
  width: 600px;
  max-height: 200px;
  padding: /*up*/10px /*left*/15px /*down*/200px /*right*/15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
textarea{
  font-size: 14px;
  font-family: sans-serif;
}
/*Shop page*/
#main{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px
}
.centerShopImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    padding-top: 100px;
}
