/*WebsiteHeader*/
@font-face{
  font-family: "Perfect Dark";
  src: url("perfect-dark-brk/pdark.ttf")
}
@font-face{
  font-family: "Vanish";
  src: url("vanish/VANISH.ttf")
}
@font-face{
  font-family: "Maniac";
  src: url("maniac/ManiacGrunged.ttf")
}
#topHeader{
  background-image: url("TigerEye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffe177;
  padding-top: 30px;
  padding-bottom: 10px;
}
#websiteName{
  font-family: "Perfect Dark", serif;
  text-align: center;
}
#subtitle{
  font-family: serif;
  text-align: center;
  letter-spacing: 8px;
  color: #ffeeac;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #c7b05d;
}
/*WebsiteFooter*/
#footer{
  background-color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/*WebsiteInnerBody*/
#innerBody{
  height: 1500px;
}

/*Home Page: NavBar style*/
#navigation{
  font-family: fantasy;
  letter-spacing: 2px;
  text-align: center;
  position: sticky;
  top: 0px;
}
.active{
  background-color: #8184dc;
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494799;
    position: sticky;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 85px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #312f67;
}

/*Contact page: form style*/
.reveal-if-active{
  display: none;
}
#contactInfo{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#smallTxtBox{
  width: 250px;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
#commentSection{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#largeTxtBox{
  width: 600px;
  max-height: 200px;
  padding: /*up*/10px /*left*/15px /*down*/200px /*right*/15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/*Shop page*/
#main{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    padding-top: 100px;
}
